**/*.csv
**/*.log
**/*.out
**/logs
**/target
*.class
*.egg-info/
*.iml
*.ipr
*.iws
*.png
*.pyc
*~
.*.marks
.*.sw?
.classpath
.idea
.project
.settings
.tox/
.vagrant
MANIFEST.MF
bin/
dist
log.html
opendaylight/northbound/integrationtest/logs/*
output.xml
products
report.html
repository
target
workspace
