---
repos:
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v2.4.0  # Use the ref you want to point at
    hooks:
      - id: flake8
        language_version: python3
        additional_dependencies: ['flake8~=3.5.0']
      - id: trailing-whitespace
        # this hook will remove any blank lines at the end of a file, whereas the robot hook will add one
        # so to prevent this conflict we will ignore .robot files in this trailing-whitespace hook
        exclude: '\.robot'

  - repo: https://github.com/psf/black
    rev: 20.8b1
    hooks:
      - id: black

  - repo: https://github.com/guykisel/pre-commit-robotframework-tidy
    rev: master
    hooks:
    - id: robotframework-tidy-wrapper
      additional_dependencies: ['robotframework']

  - repo: https://github.com/jorisroovers/gitlint
    rev: v0.11.0
    hooks:
    - id: gitlint

  - repo: local
    hooks:
      - id: rstcheck
        name: rstcheck
        entry: rstcheck
        files: '\.rst'
        language: python
        additional_dependencies: [rstcheck, sphinx]
