[access]
	inheritFrom = All-Projects
[project]
	description = Integration test
[receive]
	requireChangeId = true
[access "refs/*"]
	owner = group ldap/odl-gerrit-integration-test-committers
	read = group GitHub Replication
[access "refs/heads/*"]
	viewDrafts = group Anonymous Users
[submit]
	action = rebase if necessary
[allowSuperproject "docs"]
	matching = refs/heads/master:refs/heads/master
	matching = refs/heads/master:refs/heads/stable/boron
	matching = refs/heads/master:refs/heads/stable/carbon
	matching = refs/heads/master:refs/heads/stable/nitrogen
