[access]
	inheritFrom = All-Projects
[project]
	description = Integration test
[receive]
	requireChangeId = true
[access "refs/*"]
	owner = group ldap/gerrit-integration-test-committers
	forgeAuthor = group Administrators
	forgeCommitter = group Administrators
	push = +force group Administrators
	pushMerge = group Administrators
	viewDrafts = group Anonymous Users
	viewDrafts = group Registered Users
[access "refs/drafts/*"]
	viewDrafts = group Anonymous Users
	viewDrafts = group Registered Users
