neighbor ODLIP {
    router-id 127.0.0.1;
    local-address 127.0.0.1;
    local-as 64496;
    peer-as 64496;

    static {
        route 1.1.1.1/24 {
            next-hop 11.0.255.254;
            community [ 30741:30741 30741:0 ];
        }
    }

    capability {
        route-refresh ROUTEREFRESH;
        add-path ADDPATH;
    }

    family {
        ipv4 unicast;
        ipv4 mpls-vpn;
    }
}

neighbor ODLIP {
    router-id 127.0.0.6;
    local-address 127.0.0.6;
    local-as 64496;
    peer-as 64496;

    static {
        route 6.1.1.0/24 {
            next-hop 16.0.255.254;
            extended-community 31740:31740 extended-community [ 32740:32740 32740:0 ];
            #rd 1.2.3.4:1;
            #label 24005;
        }
        route 6.2.1.0/24 {
            next-hop 16.1.255.254;
            extended-community 31740:31740 extended-community [ 32740:32740 32740:0 ];
            #rd 1.2.3.4:1;
            #label 24005;
        }
        route 6.3.1.0/24 {
            next-hop 16.2.255.254;
            extended-community 31740:31740 extended-community [ 32740:32740 32740:0 ];
            #rd 1.2.3.4:1;
            #label 24005;
        }
    }

    capability {
        route-refresh ROUTEREFRESH;
        add-path ADDPATH;
    }

    family {
        ipv4 unicast;
        ipv4 mpls-vpn;
    }
}
