{
    "cniVersion": "0.3.0",
    "name": "odl-cni",
    "type": "odlovs-cni",
    "mgrPort": {{ manager_port }},
    "mgrActive": true,
    "manager": "{{ manager_ip }}",
    "ovsBridge": "br-int",
    "ctlrPort": {{ controller_port }},
    "ctlrActive": true,
    "controller": "{{ controller_ip }}",
    "externalIntf": "{{ external_interface }}",
    "externalIp": "{{ external_ip }}",
    "ipam": {
        "type": "host-local",
        "subnet": "{{ subnet }}",
        "routes": [
            {"dst": "0.0.0.0/0"}
        ],
        "gateway": "{{ gateway }}"
    }
}
